*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1f2327;
  --bg-card-color: #252a2e;
  --text-header-color: #bbc1c3;
  --text-code-color: #6df098;
  --text-desc-color: #cbeffa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-header-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}
.container {
  padding: 0 0.75rem;
  margin-inline: auto;
  max-width: 1200px;
  width: 100%;
}

/* Breakpoints for responsiveness */
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin: 30px 0px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas:
    "card-1 card-1 card-2 card-2 card-3 card-3"
    "card-5 card-5 card-4 card-4 card-3 card-3"
    "card-5 card-5 card-6 card-6 card-3 card-3";

  padding-bottom: 60px;
}

@media (max-width: 1199px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card-1 card-1  card-3 card-3"
      "card-2 card-2 card-3 card-3"
      "card-6 card-6 card-3 card-3"
      "card-5 card-5 card-4 card-4";
  }
}

@media (max-width: 767px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-5"
      "card-6";
  }
  h1 {
    font-size: 25px;
  }
}

.card {
  background-color: var(--bg-card-color);
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid #6df0992d;
  position: relative;
  transition: all 0.3s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
  filter: blur(25px);
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.card:hover::before {
  background-color: #6df09917;
}

.card:hover {
  margin-top: -5px;
  border-color: #6df09942;
  cursor: pointer;
}

.important-git-card {
  grid-area: card-1;
  order: 1;
}

.configure-card {
  grid-area: card-2;
  order: 2;
}

.working-locally-card {
  grid-area: card-3;
  order: 3;
}

.managing-branches-card {
  grid-area: card-4;
  order: 4;
}

.connect-to-github-card {
  grid-area: card-5;
  order: 5;
}

.terminal-notes-card {
  grid-area: card-6;
  order: 6;
}

.card h3 {
  text-align: center;
  color: var(--text-header-color);
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card dd:not(:last-of-type) {
  margin-bottom: 10px;
}

.card .command {
  font-size: 14px;
  color: var(--text-code-color);
  position: relative;
  margin-bottom: 10px;
}

.card .sub-command {
  margin-top: 5px;
  margin-left: 30px;
  font-size: 12px;
  margin-left: 15px;
}

.card .description {
  font-size: 12px;
  text-transform: capitalize;
  margin-left: 30px;
  position: relative;
}

.card .sub-description {
  margin-left: 45px;
}

.card .description::before {
  content: "\f061";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  position: absolute;
  left: -15px;
  top: 2px;
  display: inline-block;
  font-size: 8px;
}

footer {
  background-color: var(--bg-card-color);
  position: relative;
  z-index: 1;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
}

footer ul li {
  list-style: none;
  font-size: 18px;
}

footer ul li a {
  color: var(--text-header-color);
  transition: 0.3s ease;
}

footer ul li a:hover {
  color: var(--text-code-color);
}

@media (max-width: 767px) {
  footer {
    font-size: 10px;
  }

  footer ul li {
    font-size: 10px;
  }
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* stays behind content */
  background: var(--bg-color); /* fallback background */
}
